async-timeout==4.0.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.1
colorama==0.4.4
defusedxml==0.7.1
Deprecated==1.2.13
Flask==2.1.1
Flask-JWT==0.3.2
Flask-JWT-Extended==4.3.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
httpie==3.1.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
multidict==6.0.2
packaging==21.3
passlib==1.7.4
Pygments==2.11.2
PyJWT==2.3.0
pyparsing==3.0.7
PySocks==1.7.1
requests==2.27.1
requests-toolbelt==0.9.1
SQLAlchemy==1.4.32
urllib3==1.26.9
Werkzeug==2.1.0
wrapt==1.14.0
zipp==3.7.0
